__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
.env
.venv/
venv/
env/
dist/
build/
*.egg-info/
.DS_Store
.prefect/
.pytest_cache/
pytest-cache-files-*/

# IDE
.vscode/
.idea/

# Data and Logs
*.csv
*.jsonl
*.log
*.db-journal
*.sqlite-journal
*.tmp
*.zip
log*.txt
.demo_data/
data/
